.header{
    background: #ffffff;
    height: 48px;
    line-height: 48px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 20%), 0 0 0 0 rgb(0 0 0 / 19%);
    .col-3 span{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 80%;
        display: block;
        
    }
    .col span{
        color: #ffffff;
        background-color: #059fc5;
        display: block;
        width: 45px;
        text-align: center;
    }
    .col.pd-0{
        padding: 0px;
    }
    img {
        width: 153px;
        padding: 5px;
    }
}