 <!-- dashboard header part -->
    <div class="container-fluid header">
        <div class="row">
            <div class="col row">
                 <!-- dashboard logo -->
                <span><i class="fa-light fa-bars"></i></span>
                    <img src="../../assets/prosimo.png" alt="prosimo-logo"/>
            </div>
            <!-- dashboard welcome name -->
            <div class="col-3 pull-right">
                <span [title]="emailAddress">Welcome {{ emailAddress }}</span>
            </div>
        </div>
    </div>

