<div class="content">

<div><div class="list row row-cols-4" *ngIf="filterDetailsData.length">
    <div class="col card booklist pd-0"  *ngFor="let book of filterDetailsData">
        
        <img [src]="book.imageUrl" class="card-img-top" alt="...">
        <div class="card-body">
            <span>{{book.name}}</span>
            <p>Author: {{book.author}}</p>
            <span><i class="fa-solid fa-indian-rupee-sign"></i>{{book.price}}</span>
            <button 
            matTooltip="Release date: {{book.date}} and Availability: {{book.availability}}"
            aria-label="Button that displays a tooltip when focused or hovered over">
                <i class="fa-solid fa-circle-info"></i>
              </button> 
           <div> <ngx-star-rating [(ngModel)]="book.rating" [id]="'rating2'" [disabled] ="true"></ngx-star-rating></div>
        </div>
      </div>
</div>
<div  *ngIf="!filterDetailsData.length" class="error">No data found for applied filter. Please try again</div>
</div>

</div>

