/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-light-blue,600);
$my-app-accent: mat-palette($mat-pink, A200, A100, A400);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent);

@include angular-material-theme($my-app-theme);
html, body { height: 100%; overflow-x: hidden;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
label.star {
    padding: 0px !important;
    font-size: 12px !important;
    transition: all .2s;
}
input.star-5:checked ~ label.star:before {
    color: rgb(253, 224, 5) !important;
     text-shadow: none !important;
}
.mat-radio-label-content{
    padding-right:20px !important;
}
 
    
    @media only screen and (max-width: 600px) {
        .filter{
            display: none;
        }
      .content{
          width: 100% !important;
          margin: 72px 30px 30px 0px !important;
      }
  }